/* You can add global styles to this file, and also import other style files */

html,
body {
  font-family: sans-serif;
}

.nb li {
  list-style-type: none;
  display: inline-block;
}
.dib {
  display: inline-block;
}
